  <div class="wh_img">
    <div class="wh_img_info fix">
      <div class="span15">
        <!--
        <h1>We are <b>Smart</b>, an Awesome team,<br>
          looking for <b>awesome clients</b>.</h1>
        -->
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row fix">
      <div class="span16">
        <img src="/assets/white-hat-seo.jpg" alt="">
      </div>
      <div class="span17">
        <p>
          WhiteHat founded in 2013,We are committed to maintain Australia's network and website security. From  experience, Australia is still in the initial stages of network security, many companies still have not realise  the importance of protecting their own websites and information transmission. From the company's perspective,  if a company's web site has been tampered with or company information was leaked, it would not only cause  reputational damage, worse  situation will be the whole company’s information and personal detail including  passwords have been disclosed and sold on the internet or worse competetitors. Which is what we want to stop,  and also take the initiative to defend and protect your website from harm and threats.
        </p>

        <p>
          Many major Australian and International companies within Australia are with website, payment security and  sensitive information security risks and issues. We are still in further ‘black box’ testing. However, there  are many gaps and risks that have been identified within major corporations in Australia. They all have  different levels of network security threats, even more, universities, major shopping malls, water companies,  electricity suppliers, public transportation systems have also been prone to vulnerability. As a Subject Matter  Expert in this field, We are there to protect, provide and give peace of mind to your security needs. How is  your network security? 
        </p>
      </div>


    </div>
  </div>