  <div class="wh_img">
    <div class="wh_img_info fix">
      <div class="span15">
        <!--
        <h1>We are <b>Smart</b>, an Awesome team,<br>
          looking for <b>awesome clients</b>.</h1>
        -->
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row fix">
      <div class="span16">
        <img src="/assets/white-hat-seo.jpg" alt="">
      </div>
      <div class="span17">
        <p>Coming Soon...</p>
      </div>


    </div>
  </div>