  <div class="container">
    <div class="row fix" style="margin-bottom:0;">
      <div class="span10">
        <div class="hd">
          <h1>
            Your Plan Choice
            <small class="pull-right">$XX/month</small>
          </h1>
        </div>
      </div>
      
      
    </div>

    <form action="" class="span_form">
      <div class="row" style="margin-top:0;">
        <section class="span11 fix">
          <div class="span12">
            <div class="span12_a">
              <h3>Basic Information</h3>
              <p>content content content content content content content content content content content content </p>
              <p>content content content content content content content content content content content content </p>
            </div>
          </div>

          <div class="span12">
            <div class="span12_b">
              <input type="text" name="fname" placeholder="First Name">
              <input type="text" name="lname" placeholder="Last Name">
              <input type="email" name="email" placeholder="Email Address">
              <input class="span12_c" type="text" name="Phone" placeholder="Phone">
              <input class="span12_c" type="text" name="Company" placeholder="Company">
              <input class="span12_c" type="text" name="Post" placeholder="Post">
              <input class="span12_c" type="text" name="Website" placeholder="Website">
              <input type="text" name="Leave a message" placeholder="Leave a message">
            </div>
          </div>
          
        </section>
      </div>


      <div class="row" style="margin-top:0;">
        <section class="span11 fix">
          <div class="span12">
            <div class="span12_a">
              <h3>Billing Information</h3>
              <p>content content content content content content content content content content content content </p>
              <p>content content content content content content content content content content content content </p>
            </div>
          </div>

          <div class="span12">
            <div class="span12_b">
              <input type="text" name="Name on card" placeholder="Name on card">
              <input type="text" name="Card Number" placeholder="Card Number">
              <select class="span12_e" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
              </select>
              <select class="span12_e" name="" id="">
                <option value="">2015</option>
                <option value="">2014</option>
                <option value="">2013</option>
                <option value="">2012</option>
              </select>
              <input class="span12_d" type="text" name="CVV Code" placeholder="CVV Code">
              <input type="text" name="Billimg Address" placeholder="Billimg Address">
              <input type="text" name="City" placeholder="City">
              <input type="text" name="State" placeholder="State">
              <input type="text" name="Zip Code" placeholder="Zip Code">
              <a class="btn btn_large btn_primary" href="">Buy</a>
            </div>
          </div>
          
        </section>
      </div>
    </form>

  </div>

  <div class="blank30"></div>

