  <div class="container">
    <div class="row fix" style="margin-bottom:0;">
      <div class="span10">
        <div class="hd">
          <h1>
            Your Plan Choice
            <small class="pull-right">$<%=  @price %>/month</small>
          </h1>
        </div>
      </div>
      
      
    </div>

    <div id="content">
      <form action="/pages/do" class="span_form" method="POST">
        <div class="row" style="margin-top:0;">
          <section class="span11 fix">
            <div class="span12">
              <div class="span12_a">
                <h3>Basic Information</h3>
                <p>content content content content content content content content content content content content </p>
                <p>content content content content content content content content content content content content </p>
              </div>
            </div>

            <div class="span12">
              <div class="span12_b">
                <input type="hidden" name="plan" value="<%= params[:type] %>">
                <input type="text" name="fname" placeholder="First Name">
                <input type="text" name="lname" placeholder="Last Name">
                <input type="email" name="email" placeholder="Email Address">
                <input class="span12_c" type="text" name="phone" placeholder="Phone">
                <input class="span12_c" type="text" name="company" placeholder="Company">
                <input class="span12_c" type="text" name="position" placeholder="Position">
                <input class="span12_c" type="text" name="website" placeholder="Website">
                <input type="text" name="message" placeholder="Leave a message">
              </div>
            </div>

          </section>
        </div>


        <div class="row" style="margin-top:0;">
          <section class="span11 fix">
            <div class="span12">
              <div class="span12_a">
                <h3>Billing Information</h3>
                <p>content content content content content content content content content content content content </p>
                <p>content content content content content content content content content content content content </p>
              </div>
            </div>

            <div class="span12">
              <div class="span12_b">
                <input type="text" name="card_name" placeholder="Name on card">
                <input type="text" name="card_number" placeholder="Card Number">
                <select class="span12_e" name="month" id="">
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <select class="span12_e" name="year" id="">
                  <option value="">2015</option>
                  <option value="">2014</option>
                  <option value="">2013</option>
                  <option value="">2012</option>
                </select>
                <input class="span12_d" type="text" name="cvv" placeholder="CVV Code">
                <input type="text" name="address" placeholder="Billing Address">
                <input type="text" name="city" placeholder="City">
                <input type="text" name="state" placeholder="State">
                <input type="text" name="zip_code" placeholder="Zip Code">
                <a class="btn btn_large btn_primary" href="javascript:;" id="buy">Buy</a>
                <span class='error' id="card_error">&nbsp;</span>
              </div>
            </div>

          </section>
        </div>
      </form>
    </div>

  </div>

  <div class="blank30"></div>


  <script type="text/javascript">

  var ok_html = '<div class="row" style="margin-top:0;">' +
  '<div class="span14">' +
  '<img src="/assets/sure.png" alt="">' +
  'Congratulations, your payment information has been confirmed!' +
  '</div>' +
  '</div>';

  $(function(){
    $("#buy").click(function(){
      var $card_error = $("#card_error");
      if ($("input[name='fname']").val()==""){
        $("input[name='fname']").addClass("red_border");
        $card_error.text("first name cant blank");
        return;
      }
      if ($("input[name='lname']").val() == ""){
        $("input[name='lname']").addClass('red_border');
        $card_error.text("last name cant blank");
        return;
      }
      if ($("input[name='email']").val() == ""){
        $("input[name='email']").addClass('red_border');
        $card_error.text("email cant blank");
        return;
      }
      if ($("input[name='phone']").val() == ""){
        $("input[name='phone']").addClass('red_border');
        $card_error.text("phone cant blank");
        return;
      }
      if ($("input[name='card_name']").val() == ""){
        $("input[name='card_name']").addClass('red_border');
        $card_error.text("name on card cant blank");
        return;
      }
      if ($("input[name='card_number']").val() == ""){
        $("input[name='card_number']").addClass('red_border');
        $card_error.text("card number cant blank");
        return;
      }
      if ($("input[name='cvv']").val() == ""){
        $("input[name='cvv']").addClass('red_border');
        $card_error.text("cvv code cant blank");
        return;
      }
      if ($("input[name='address']").val() == ""){
        $("input[name='address']").addClass('red_border');
        $card_error.text("billing address cant blank");
        return;
      }
      if ($("input[name='city']").val() == ""){
        $("input[name='city']").addClass('red_border');
        $card_error.text("city cant blank");
        return;
      }
      if ($("input[name='state']").val() == ""){
        $("input[name='state']").addClass('red_border');
        $card_error.text("state cant blank");
        return;
      }
      if ($("input[name='zip_code']").val() == ""){
        $("input[name='zip_code']").addClass('red_border');
        $card_error.text("zip code cant blank");
        return;
      }
      var $content = $("#content");
      var _data = $( "form" ).serialize();
      $.ajax({
        url: '/pages/do',
        type: "POST",
        data: _data,
        success: function(ret){
          if (ret.code){
            $content.html(ok_html);
          }else{
            $card_error.text(ret.error);
          }
        }
      });
    })
});

  </script>
