  <div class="container">
    <div class="row fix">
      <div class="span16">
        <div class="span18_a">
          <h4>Get in touch with us</h4>
          <ul>
            <li>
              <label for="">Phone : </label>
              <p>1300 308 398</p>
            </li>
            <li>
              <label for="">Email :</label>
              <p>info@white-hat.com.au</p>
            </li>
            <!--
            <li>
              <label for="">Office address :</label>
              <p></p>
            </li>
          -->
        </ul>
      </div>
    </div>
    <div class="span19">
      <div class="span19_maps">
        <img src="/assets/maps.png" alt="">
      </div>
      <div class="blank20"></div>
      <div class="span12_b" style="padding:0px;">
        <input type="text" name="fname" placeholder="First Name">
        <input type="text" name="lname" placeholder="Last Name">
        <input type="email" name="email" placeholder="Email Address">
        <input type="text" name="Subject " placeholder="Subject ">
        <textarea rows="9" class="input-block-level" name="message" placeholder="Your message"></textarea>
        <a class="btn btn_large btn_info" href="javascript:;" id="sendMessage">Send message</a>
        <span id='result'  class="error">&nbsp;</span>
      </div>
    </div>


  </div>

</div>

<script type="text/javascript">
(function(){
  $("#sendMessage").bind('click',function(){
    var firstname = $("input[name='fname']").val();
    var lastname = $("input[name='lname']").val();
    var email = $("input[name='email']").val();
    if (email == ""){
      $("input[name='email']").addClass("red_border");
      return;
    }
    var subject = $("input[name='subject']").val();
    var message = $("textarea[name='message']").val();
    if (message == ""){
      $("textarea[name='message']").addClass("red_border");
      return;
    }
    $.ajax({
      url: "/pages/send_message",
      type: "POST",
      data: {
        "firstname": firstname,
        "lastname": lastname,
        "email": email,
        "subject": subject,
        "message": message
      },
      success: function(ret){
        if (ret.code){
          $("#result").text("message have sent, thanks.");
        }else{
          $("#result").text(ret.error);
        }
      }
    })
  });
})();
</script>