  <div class="wh_imga">
    <div class="wh_img_info">
      <div class="span20 fix">
        <div class="span20_a">
          <img src="/assets/img_02.png" alt="">
        </div>
        <div class="span20_b">
          <h2>What is WhiteHat</h2>
          <div class="blank0"></div>
          <span>Top  security team,protect your website.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="blank0"></div>

  <div class="wh_imgb">
    <div class="wh_img_info fix">
      <div class="span_21">
        <span>WHAT WE DO</span>
      </div>

      <div class="blank10"></div>
      <div class="spann_22">
        <img src="/assets/icon_8.png" alt="">
        <p></p>
        <span>Cloud security defense </span>
      </div>
      <div class="spann_22">
        <img src="/assets/icon_7.png" alt="">
        <p></p>
        <span>penetration testing </span>
      </div>
      <div class="spann_22">
        <img src="/assets/icon_9.png" alt="">
        <p></p>
        <span>emergency response</span>
      </div>

      <div class="blank10"></div>
    </div>
  </div>  

  <div class="wh_img">
    <div class="wh_img_info fix">
      <div class="span7">
        <h1>Why WhiteHat</h1>
        <h2>We manually scan your website to find and fix any existing vulnerabilities every month,
          keep all hacker’s <b>virus</b>, <b>backdoor</b>, <b>APT</b> and <b>harmful traffic</b> from your system for good. 
        </h2>
        <div class="blank20"></div>
        <a class="btn btn_large btn_primary" href="/pages/plan">See Plans & Pricing</a>
        <!-- <a class="btn btn_large btn_info" href="">See Plans & Pricing</a> -->
      </div>
      <div class="span5">
        <img src="/assets/img_01.png" alt="">
      </div>
    </div>
    
  </div>

  <div class="container">
    <div class="row fix">
      <div class="span4">
        <div class="feature">
          <h3>
            <i class="icon_copy icon_large"></i>
             Professionally report
          </h3>
          <p>Manually written report, instead of software auto generated basic website scan results</p>
        </div>
      </div>
      <div class="span4">
        <div class="feature">
          <h3>
            <i class="icon_copyb icon_large"></i>
             Cloud collaboration system
          </h3>
          <p>Advanced cloud collaboration system, multiple white-hat hackers perform penetration testing together</p>
        </div>
      </div>
      <div class="span4">
        <div class="feature">
          <h3>
            <i class="icon_copyc icon_large"></i>
             World’s best network security alliance
          </h3>
          <p>Number of technology website & forum partners to provide us with the latest technology trends and network threat</p>
        </div>
      </div>
    </div>
    <div class="row fix">
      <div class="span4">
        <div class="feature">
          <h3>
            <i class="icon_copye icon_large"></i>
             Information system
          </h3>
          <p>Automatically announce relevant 0day to clients, help protect client’s website as fast as we can</p>
        </div>
      </div>
      <div class="span4">
        <div class="feature">
          <h3>
            <i class="icon_copyf icon_large"></i>
             Our own program
          </h3>
          <p>WhiteHat have own developed network security system such as “cross-site platform”, “struts2 exploit tool”, we even have our own web scan system “WhiteHat Vulnerability Scanner” and so on…</p>
        </div>
      </div>
      <div class="span4">
        <div class="feature">
          <h3>
            <i class="icon_copyd icon_large"></i>
             Emergency service
          </h3>
          <p>For Platinum client, we provide 24/7 emergency service which we think is significant to many company.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="blank10"></div>
