  <div class="footer">
    <div class="footer_info fix">
      <div class="span3">
        <h4>About Whitehats</h4>
        <p>For any general questions, please Email to info@white-hat.com.au </p>
      </div>
      <div class="span3">
        <h4>For Emergency call only</h4>
        <p>Please call + (61) 416 417 517</p>
      </div>
      <div class="span3">
        <h4>Join us?</h4>
        <p>Email to HR@white-hat.com.au</p>
      </div>

      
    </div>
    <div class="blank10"></div>
    <div class="footer_b">
      <p class="r">© 2013 whitehat, LLC. All Rights Reserved</p>
    </div>
  </div>