  <div class="footer">
    <div class="footer_info fix">
      <div class="span3">
        <h4>About Whitehats</h4>
        <p>content content content content content content content content content content </p>
      </div>
      <div class="span3">
        <h4>Your Company </h4>
        <p>address</p>
      </div>
      <div class="span3">
        <h4>Title...</h4>
        <p>content content content content content content content content content content </p>
      </div>

      
    </div>
    <div class="blank10"></div>
    <div class="footer_b">
      <p class="r">© 2012 whitehat, LLC. All Rights Reserved</p>
    </div>
  </div>