<div class="header">
  <div class="wh_nav">
    <div class="logo"><a href="/"><img src="/assets/logo.png" alt=""></a></div>
    <div class="nav_bar">
      <ul>
        <li><a href="/pages/plan">Plan</a></li>                                     
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/contact">Contact</a></li>
      </ul>
      <div class="wh_call">
        <span>International:</span> (888) 990-2200
      </div>
    </div>
  </div>
</div>